.nuxt-content {
  @apply overflow-auto leading-relaxed text-gray-700;
}

.nuxt-content > h1 {
  @apply mb-1;
  @apply leading-none;
  @apply text-gray-900;
  @apply font-medium;
  @apply text-3xl;
  @apply tracking-tight;
}


.nuxt-content > h2{
  @apply mt-16;
  @apply mb-4;
  @apply text-gray-900;
  @apply leading-none;
  @apply font-normal;
  @apply text-2xl;
  @apply tracking-tight;
}

.nuxt-content > *:first-child {
  @apply mt-0;
}

.nuxt-content > * + * {
  @apply mt-6;
}

.nuxt-content > ul > * + *,
.nuxt-content > ol > * + * {
  @apply mt-4;
}
.nuxt-content-highlight {
max-width: 100%;
}
.nuxt-content > h2::before,
.nuxt-content > h3::before,
.nuxt-content > .heading::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: '';
}

.nuxt-content > hr {
  @apply my-16 border-t-0 border-b-2 border-l-0 border-r-0 border-gray-200;
}

.nuxt-content > a,
.nuxt-content > p a,
.nuxt-content > ul li a,
.nuxt-content > ol li a {
  @apply text-blue-500 underline;

}

.nuxt-content > a:hover,
.nuxt-content > p a:hover,
.nuxt-content > ul li a:hover,
.nuxt-content > ol li a:hover {
    @apply text-blue-700;
}

.nuxt-content > p strong,
.nuxt-content > ul strong {
  @apply font-semibold;
  @apply text-gray-800;
}

.nuxt-content > p code,
.nuxt-content > ul li *:not(pre) code,
.nuxt-content > ul li > code,
.nuxt-content > ol li *:not(pre) code,
.nuxt-content > ol li > code{
  @apply inline-block;
  @apply bg-gray-100;
  @apply rounded-sm;
  @apply text-sm;
  @apply px-1;
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply text-blue-600;
  @apply font-mono;
  @apply align-baseline;
  @apply break-words;
  font-weight: 400;
}

.nuxt-content > p strong code,
.nuxt-content > ul li strong code,
.nuxt-content > ol li strong code {
  font-weight: 600;
}

.nuxt-content > pre{
  @apply font-mono;
  @apply rounded-lg;
  font-weight: 400;
  scrollbar-width: none;
}

.nuxt-content > blockquote{
  @apply italic;
  @apply text-gray-900;
  @apply text-sm;
}

.nuxt-content > h2 + h3 {
  @apply mt-6;
}

.nuxt-content > h3{
  @apply mt-12 -mb-3;
  @apply text-gray-900;
  @apply leading-tight;
  @apply font-medium;
  @apply text-xl;
  @apply tracking-tight;
}

.nuxt-content > h4{
  @apply mt-12;
  @apply mb-0;
  @apply text-gray-900;
  @apply leading-snug;
  @apply font-medium;
  @apply text-lg;
}
.nuxt-content > h5{
  @apply font-medium;
}

/* .nuxt-content > h1 + p {
  @apply mt-1 text-gray-600;
} */

.nuxt-content > h1 + p + hr {
  @apply mt-8;
}

.nuxt-content > h1 > code,
.nuxt-content > h2 > code,
.nuxt-content > h3 > code,
.nuxt-content > h4 > code {
  @apply text-blue-600;
  @apply font-mono;
}

.nuxt-content > h3 > code {
  @apply px-1 text-lg bg-gray-100;
}

.nuxt-content > h4 > code {
  @apply px-1 text-base bg-gray-100;
}

.nuxt-content > p,
.nuxt-content > blockquote > p {
  @apply text-base;
  @apply mt-6;
}

.nuxt-content > ul:not(.list-none) {
  @apply pl-0 ;
}

.nuxt-content > ul:not(.list-none) li {
  @apply relative pl-5;
}

.nuxt-content > ul:not(.list-none) li::before {
  @apply absolute left-0 inline-block mr-3 text-gray-400;
  content: '\2022';
}

.nuxt-content > ol {
  @apply list-none;
  counter-reset: item;
}

.nuxt-content > ol > li {
  @apply relative pl-10;
}

.nuxt-content > ol > li::before {
  @apply absolute top-0 left-0 mt-px;
  @apply flex items-center justify-center;
  @apply w-6 h-6 bg-gray-300 rounded-full;
  @apply text-xs font-bold text-gray-700;
  content: counter(item);
  counter-increment: item;
}

.nuxt-content > h1[id]:hover .icon,
.nuxt-content > h2[id]:hover .icon,
.nuxt-content > h3[id]:hover .icon,
.nuxt-content > h4[id]:hover .icon,
.nuxt-content > h5[id]:hover .icon,
.nuxt-content .icon {
  @apply opacity-100;
}
.nuxt-content .icon::before {
  content: '#' !important;
}
.nuxt-content .icon {
  @apply inline-block w-5 -ml-5 text-gray-500 transition-opacity duration-100 opacity-0;
}


.nuxt-content .filename {
  @apply inline-block px-2 pt-1 ml-2 -mb-1 font-mono text-xs text-gray-300 bg-gray-800 border-b border-gray-800 rounded-t shadow-inner;
}

.nuxt-content > table {
  @apply w-full max-w-full text-left border-collapse;
}

.nuxt-content > table th {
  @apply p-2 text-sm font-semibold text-gray-700 bg-gray-100;
}
.nuxt-content > table td {
  @apply p-2 text-sm break-all border-t border-gray-200;
}
@screen md {
  .nuxt-content > table td {
    @apply break-normal;
  }
}

.nuxt-content > table td code {
  @apply px-1 font-mono text-xs text-blue-700 align-baseline bg-gray-100;
}

.nuxt-content > table td a {
  @apply text-blue-700 underline ;
}

.nuxt-content > table td:first-child {
  @apply border-gray-300;
}

/*
   > :not(pre):not(h1):not(h2):not(h3):not(h4) > code,
   > ul code,
   > ol code {
     @apply bg-gray-100;
     @apply text-sm;
     @apply leading-normal;
   }

   > pre,
   pre&,
   > ul li pre,
   > ol li pre {
     @apply flex p-0 bg-gray-800;
     @apply text-sm leading-normal;
   }

   > pre code,
   pre code&,
   > ul li pre code,
   > ol li pre code {
     @apply p-4;
   }


 } */
